# Ignore personal applescript and python files 
iMessagePushActual.applescript 
iMessagePushActual.py
contactMapperActual.applescript 
mkdirlock.scpt 
shutdowndelay.scpt 
superusercrontabadd.scpt 
wakeDate.scpt 
iMessageRateLimiting.py